<h1>Edit Task</h1>
<form [formGroup]="form" (ngSubmit)="onFormSubmitted(form)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="form.get('name')!.invalid">name is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Choose a category</mat-label>
            <mat-select formControlName="categoryId" >
                <mat-option *ngFor="let item of categories$ | async" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <h2>Choose Team Members</h2>
    <div>
        <ng-container>
            <label formArrayName="teamMembers" *ngFor="let tag of teamMembersArray.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
                <img height="30px" width="30px" src="{{data[i].avatar}}">{{data[i].name}}
            </label>
        </ng-container>
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
</form>