<h1>Edit Category</h1>
<form *ngIf="data$ | async else loading">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" [formControl]="name" required>
            <mat-error *ngIf="name!.invalid">Invalid name!</mat-error>
        </mat-form-field>
    </div>
</form>
<br>
<button type="submit" mat-raised-button color="primary" (click)="onSubmitButtonClicked()">Submit</button>
<ng-template #loading>
    <mat-progress-spinner
            [color]="'primary'"
            [mode]="'indeterminate'"
            [value]="50">
    </mat-progress-spinner>
</ng-template>